.toolbar {
    display:flex;
    flex-direction: row;
    padding:15px;
    align-items: center;
    border-bottom:1px solid #A3B1C1;
    height: 50px;

    .dismiss {
        align-self: flex-start;
        flex-grow: 1;
        color:#A3B1C1;
    }

    .action-buttons {
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        
    }
}

.content {
    padding: 20px;

    h1 {
        margin-bottom:3px;
        font-size:1.5em;
        font-weight:bold;
    }

    .sub-header {
        color:#A3B1C1;
    }

    

    .touch-points {
        margin-top:10px;

        .touch-point-row {
            display: flex;
            flex-direction: row;
            padding:10px 0;

            .touch-point-header {
                width:100px;
                color: #919399;
                font-size:.9em;
                font-weight: bold;
            }

            .touch-point-content {
                flex-grow: 1;
            }
        }
    }
}


.divider-text {
    display:flex;
    flex-direction: row;
    align-items: center;

    .divider-line {
        flex-grow:1;
        height:2px;
        background:#f0f0f0;
    }

    span {
        margin: 0 10px;
        font-weight: bold;
        color:#919399;
        text-transform: uppercase;
        font-size:.9em;
    }
}



.timeline {

    padding:20px;
  
    .shift {
        padding:10px;
        border-radius:10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display:flex;
        flex-direction: row;
        margin: 10px 0;
        border-left:3px solid #956df3;
        background: #f0eaff;
        font-weight: bold;

        .shift-time {
            font-size: 1.2em;
            align-self: flex-start;
            flex-grow: 1;
        }

        .shift-assignee {
            align-self: flex-end;
        }

        &.complete {
            border-left:3px solid #47C659;
            background: #e4f0e6;
            font-weight: normal;
        }

        &.unfilled {
            border-left:3px solid #FF6961;
            background: #fff0f0;
            font-weight: normal;
        }

        
    }

    .shifts-empty {
        padding: 20px;
        border: 2px #f0f0f0 dashed;
    }
}
